version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'friday'

  - package-ecosystem: 'cargo'
    directory: 'src-tauri'
    schedule:
      interval: 'weekly'
      day: 'friday'
