* {
	-webkit-user-select: none;
}

@font-face {
	font-family: Photon;
	src: url('../../node_modules/photon/fonts/photon-entypo.ttf');
}


html,
body {
	cursor: default;
	padding: 0;
	margin: 0;
}

body {
	font-family: Photon;
}

.panel {
	width: 100%;
	display: block;
}

#settingsBtn {
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	opacity: 0.4;
	right: 10px;
}

#settingsBtn:hover {
	opacity: 1;
}

img.pomodoro {
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
	opacity: 0.3;
}

#counter {
	display: inline-block;
	position: absolute;
	opacity: 0.3;
	top: 8px;
}

div.timer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
}

div.timer strong {
	cursor: pointer;
	position: absolute;
	top: 105px;
	left: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
}

div.timer canvas {
	cursor: pointer;
	vertical-align: top;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 10px;
	left: 10px;
	display: block;
}

.footer #quitBtn {
	float: right;
	margin-right: 20px;
}

.btn {
  cursor: pointer;
}
