* {
	-webkit-app-region: drag;
}
span,
input,
p {
	-webkit-app-region: no-drag;
	margin-left: 20px;
}

h3 {
	text-align: center;
}

input.launch {
	-webkit-app-region: no-drag;
	margin-top: 25px;
}

.btn {
	-webkit-app-region: no-drag;
	bottom: 0;
}

.btn.cancel {
	right: 0;
}

.btnForm {
	-webkit-app-region: no-drag;
}

.count {
	margin-left: 20px;
	width: 200px;
	display: inline-block;
}